<ion-view title="Colabore">
  <ion-content>
      <div class="colaborate">
        <div class="text">
            <p>Posicione-se no mapa e reporte a qualidade das redes dispon&iacute;veis.
            Precis&atilde;o: <span class="accuracy"></span></p>
        </div>
        <div id="map_colaborate" class="map"></div>
        <div class="buttonParent">
            <button class="button button-assertive" ng-click="syncWifi();">Enviar redes</button>
        </div>
    </div>
  </ion-content>
</ion-view>
